$tl-c-gray-suit: #c5bed2;
$tl-c-white: #ffffff;
$tl-c-malibu: #61AEF6;
$tl-c-athens-gray: #f4f3f6;
$tl-c-black: #000000;
$tl-c-whitesmoke: #f4f4f5;
$tl-c-apple-candy-red: #ff0800;
$tl-c-hint-of-yellow: #effdde;
$tl-c-hit-gray: #A0ACB6;
$tl-c-mantis: #5DC452;
$tl-c-oslo-gray: #83888b;
$tl-c-iron: #DADCE0;
$tl-c-mystic: #e6ebee;
$tl-c-rolling-stone: #707579;
$tl-c-cornflower-blue: #4EA4F6;
$tl-c-emerald: #4DCD5E;
$tl-c-silver-sand: #C4C9CC;
$tl-c-silver-sand2: #B3B8BB;
