@import "../utils/variables/colors";

.tl-control-group {
	position: relative;
	
	input[value=""] {
		border-color: $tl-c-gray-suit;
		top: 19px;
		left: 8px;
		color: $tl-c-gray-suit;
	}

	input:focus + label, input.tl-control-group__input:valid + label {
		top: -7px;
		left: 15px;
		color: $tl-c-malibu;
	}
}

