.ripple {
  overflow: hidden;
  position: relative;

  &:disabled {
    .ripple-effect {
      display: none;
    }
  }
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: white;

  animation: ripple-animation 1.3s;
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}