.password-preview-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  filter: invert(48%) sepia(16%) saturate(129%) hue-rotate(164deg) brightness(91%) contrast(90%);
}