.tl-input {
	font-size: 15px;
	line-height: 50px;
	box-shadow: 0 0 5px #f4f3f6 inset;
	outline: 0;
	width: 100%;
	padding: 3px 10px;
	background: #fff;
	border: 1px solid #c5bed2;
	min-height: 40px;
	border-radius: 10px;

	&_border-black {
		border-color: #000000;
	}

	&_border-blue {
		border-color: #61AEF6;
	}
}
