/* Icons from directory "" */
.tl-1check_svg, .tl-1check_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 0;
	background-repeat: no-repeat
}

.tl-1check_svg-dims {
	width: 19px;
	height: 14px
}

.tl-2checks_svg, .tl-2checks_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -14px;
	background-repeat: no-repeat
}

.tl-2checks_svg-dims {
	width: 19px;
	height: 14px
}

.tl-channel_svg, .tl-channel_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -28px;
	background-repeat: no-repeat
}

.tl-channel_svg-dims {
	width: 24px;
	height: 24px
}

.tl-chatsplaceholder_svg, .tl-chatsplaceholder_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -52px;
	background-repeat: no-repeat
}

.tl-chatsplaceholder_svg-dims {
	width: 144px;
	height: 144px
}

.tl-down_svg, .tl-down_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -196px;
	background-repeat: no-repeat
}

.tl-down_svg-dims {
	width: 24px;
	height: 24px
}

.tl-edit_svg, .tl-edit_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -220px;
	background-repeat: no-repeat
}

.tl-edit_svg-dims {
	width: 24px;
	height: 24px
}

.tl-eye1_svg, .tl-eye1_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -244px;
	background-repeat: no-repeat
}

.tl-eye1_svg-dims {
	width: 24px;
	height: 24px
}

.tl-eye2_svg, .tl-eye2_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -268px;
	background-repeat: no-repeat
}

.tl-eye2_svg-dims {
	width: 24px;
	height: 24px
}

.tl-group_svg, .tl-group_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -292px;
	background-repeat: no-repeat
}

.tl-group_svg-dims {
	width: 24px;
	height: 24px
}

.tl-search_svg, .tl-search_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -316px;
	background-repeat: no-repeat
}

.tl-search_svg-dims {
	width: 24px;
	height: 24px
}

.tl-up_svg, .tl-up_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -340px;
	background-repeat: no-repeat
}

.tl-up_svg-dims {
	width: 24px;
	height: 24px
}

.tl-user_svg, .tl-user_svg\:regular {
	background-image: url('../../assets/icons/icons.svg');
	background-position: 0 -364px;
	background-repeat: no-repeat
}

.tl-user_svg-dims {
	width: 24px;
	height: 24px
}
