@font-face {
  font-family: "Roboto Light";
  src: url("./assets/fonts/roboto/roboto-light.ttf") format("woff2");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/roboto/roboto-regular.ttf") format("woff2");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./assets/fonts/roboto/roboto-medium.ttf") format("woff2");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/roboto/roboto-bold.ttf") format("woff2");
}