@import "../utils/variables/values";
@import "../utils/variables/colors";

@mixin tl-button {
	display: inline-block;
	background: 0 0;
	outline: 0;
	position: relative;
	cursor: pointer;
	border: none;
	text-align: center;
	font-size: 13px;
	border-radius: $tl-default-border-radius;
	padding: 10px 15px;
	width: auto;
	min-height: $tl-button-height;
	text-transform: uppercase;

	&_spinner-inside {
		padding-right: 50px;
	}

	&_primary {
		color: $tl-c-white;
		background-color: $tl-c-malibu;
	}

	&_wide {
		width: 100%;
	}
}
