@import "../utils/variables/z-indexes";
@import "../utils/variables/values";
@import '../mixins/input.mixin';
@import '../mixins/label.mixin';

$c-color-select-item: $tl-c-whitesmoke;

@mixin tl-dropdown {
	max-width: 100%;
	position: relative;
	////// when ct is open
	&_open {
		.tl-dropdown__content {
			display: block !important;
			z-index: $tl-dropdown-z-index;
			border: 1px solid $tl-c-gray-suit;
		}

		.tl-dropdown__wrapper {
			z-index: $tl-dropdown-z-index;
		}
	}

	&__wrapper {
		@include tl-input();
		width: auto;
		display: flex;
		align-items: center;
	}

	&__toggle-icon {
		&_grey {
			filter: invert(83%) sepia(17%) saturate(199%) hue-rotate(219deg) brightness(93%) contrast(85%);
		}

		&_blue {
			filter: invert(66%) sepia(33%) saturate(2352%) hue-rotate(182deg) brightness(100%) contrast(94%);
		}
	}

	&__toggle-icon-up {
		display: none;
	}

	&__input {
		line-height: $tl-input-height - $tl-input-vertical-padding * 2 - $tl-default-border-size * 2;
		width: 100%;
		outline: none;
		border: 0;
		vertical-align: middle;
		font-size: $tl-input-font-size;
		//
		//&:focus {
		//	border-color: $tl-c-malibu;
		//	caret-color: $tl-c-malibu;
		//}
	}

	&__label {
		@include tl-label();
		line-height: initial;
		top: 16px;
	}
	// &__input:focus + &__label
	&__input:valid + &__label {
		top: -7px;
		left: 15px;
		color: $tl-c-malibu;
	}

	&__input:valid,
	&__input:focus {
		caret-color: $tl-c-malibu;
	}

	&__content {
		display: none;
		position: absolute;
		top: $tl-input-height + 20px;
		right: 0;
		left: 0;
		padding: 5px 0;
		max-height: 301px;
		overflow: auto;
		background-color: $tl-c-white;
		border: $tl-default-border-size solid $tl-c-malibu;
		border-radius: $tl-default-border-radius;
	}

	&__list {
		padding: 0;
		margin: 0;
	}

	&__list-item {
		line-height: 35px;
		padding: 5px 10px;
		transition: all .2s ease-in-out;
		cursor: pointer;
		list-style: none;
		display: flex;
		vertical-align: middle;

		&:hover {
			background-color: $c-color-select-item;
		}

		&:active {
			background-color: $c-color-select-item;
		}

		&.hover {
			background-color: $c-color-select-item;
		}
	}

	&__list-item-content-wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}

	&__list-item-flag-name {
		display: flex;
		align-items: center;
	}

	&__list-item-flag {
		margin-right: 5px;
	}

	&__list-item-phone-code {
		margin-right: 5px;
		color: $tl-c-gray-suit;
	}

	&__country-group {

	}
}
