@import "../utils/variables/values";
@import "../utils/variables/colors";

@mixin tl-input() {
	font-size: $tl-input-font-size;
	line-height: $tl-input-height;
	box-shadow: 0 0 5px $tl-c-athens-gray inset;
	outline: 0;
	width: 100%;
	padding: $tl-input-vertical-padding 10px;
	background: $tl-c-white;
	border: $tl-default-border-size solid $tl-c-gray-suit;
	min-height: $tl-input-height - $tl-input-vertical-padding * 2 - $tl-default-border-size * 2;
	border-radius: $tl-default-border-radius;


	&_border-black {
		border-color: $tl-c-black;
	}

	&_border-blue {
		border-color: $tl-c-malibu;
	}

	&:valid {
		border-color: $tl-c-malibu;
		caret-color: $tl-c-malibu;
	}

	&:focus, &.active {
		border-color: $tl-c-malibu;
		caret-color: $tl-c-malibu;
	}
}
