@import "../utils/variables/colors";

@mixin tl-label() {
	position: absolute;
	top: 17px;
	left: 8px;
	padding: 0 3px;
	background-color: $tl-c-white;
	color: $tl-c-gray-suit;
	transition: top 0.1s, left 0.1s;
	
	&_text-blue {
		color: $tl-c-malibu;
	}
}
