@import "../utils/variables/colors";

$spinner-size: 3em;

@mixin tl-spinner {
	height: $spinner-size;
	width: $spinner-size;
	color: $tl-c-malibu;
	position: relative;
	display: inline-block;
	border: 2px solid;
	border-radius: 50%;
	border-top-color: transparent;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
